<!-- help.html -->
<div>
	<h1>The help page</h1>
	<p>This should help guide you through making your own data</p>
	<h3>1)Loading your data</h3>
	<p>The pages have been populated with the James Cook ENT data for you to uses as a template.</p>
	<p>You can load up other data sources if they are in the correct format.</p>
	<p>You can create the two files you need for the app -these <span><strong>accessed by the tabs at the top of the screen</span></strong> - Department and Clinical</p>

	<p><strong>If you navigate away without being saved, any changes you have made will be lost</strong></p>
	<br>
	<p>You can now upload a file from your PC to the webApp for editting (before downloading it and saving it again)</p>
	<h4>Uploading the data</h4>
	<p>The Department tab will only let you upload a department.json file</p>
	<p>The Clinical tab will only let you upload a clinical.json file</p>
	<p>The file must have the appropriate formatting or the upload won't work ie it should have been created with the webApp</p>
	<p>The first and last parts of the URL are standard- so they are automatically added</p>
	<p>You need to fill in the root of the address (same as for the app) and the specialty (defaults to ent)</p>
	<p><u>Ensure your URL's are all lowercase</u></p>
	<p>Therefore- you can save your work (see- 5) below and reload it to carry on later</p>
	<br>
	<h3>2)Editting an item</h3>
	<p>If you wish to edit an item -click on the blue pencil icon</p>
	<p>If you wish to delete an item -click on the red trash icon</p>
	<p>You can change the order of the items with the up and down arrows</p>
	<p>You can add an whole new item by filling in the title in the 'new item title' box and pressing the green add button</p>
	<p>- the item can them be editted, moved and deleted</p>
	<p>Each item is a title and information</p>
	<p>The Clinical items are more structured, the Department items are more flexible</p>
	<p><strong>You can't add pictures but that is coming soon</strong></p>
	<br>
	<h3>3)Clinical - clinical.json file -see tab above</h3>
	<p>You can change the item title in the edit screen</p>
	<p>Fill in all of the boxes and click either the Cancel or Save buttons</p>
	<p>Each box can hold as much text as you wish. It will not allow you to put newline/breaks in.</p>
	<p>If you want a list/ newline type &ltbr&gt to add a break</p>
	<br>
	<h3>4)Department - department.json file -see tab above</h3>
	<p>This page can be made up of as many sections as you wish</p>
	<p>The page will only show the boxes that you fill</p>
	<p>The Heading and Subheading are simply bigger text</p>
	<p>Info1 and Info2 are information boxes for text. </p>
	<p>At the end of each section an horizontal line will automatically be added as a divider</p>
	<p>If you want more information, simply add more sections</p>
	<p>Click Cancel or Save to finish</p>
	<p><strong>Coming Soon -Bold and Underline options</strong></p>
	<br>
	<h3>5) Saving your data</h3>
	<p>Press the download button when you want to save your data</p>
	<p>This will CREATE A DOWNLOAD LINK- click this to start your file download</p>
	<p><strong>Don't change the filename - the app needs these filenames to work</strong></p>
	<p>Remember where you saved this data!</p>
	<p>If you need to edit the data use the
	<br>
	<h3>6) Using the data in the app</h3>
	<p><strong>You still need to upload to a fileserver to access the data in the app</strong></p>
	<p>Take the downloaded files and send them to whoever is hosting your webserver</p>
	<p>The address of the files is as follows- they must be in a "docs" folder which is in the speciality folder...</p>
	<p>eg. ent or plastics etc</p>
	<p>The specialty folders are found at the "root" address which is used in the app.</p>
	<p>All of the URL must be in lowercase (the app will only accept lowercase)</p>
	<br>
	<h3>7) How do I start</h3>
	<p>Click on either the Department or Clincal tabs above to start</p>
</div>