<!-- help.html -->
<div>
	<h1>The help page</h1>
	<p>This should help guide you through making your own data</p>
	<h2>Loading your data</h2>
	<p>The pages have been populated with the James Cook ENT data for you to uses as a template.</p>
	<p>You can load up other data sources if they are in the correct format.</p>
	<p>There are two files and these are accessed by the tabs at the top of the screen - Department and Clinical</p>
	<p>If you wish to edit an item -click on the blue pencil icon</p>
	<p>If you wish to delete an item -click on the red trash icon</p>
	<p>You can change the order of the items with the up and down arrows</p>
	<p>You can add an whole new item by filling in the title in the 'new item title' box and pressing the green add button</p>
	<p>- the item can them be editted, moved and deleted</p>
	<p><strong>If you navigate away without being saved, any changes you have made will be lost</strong></p>
	<p><strong>COMING SOON- load up a saved file from your desktop</strong></p>
	<br>
	<h2>Editting an item</h2>
	<p>Each item is a title and information</p>
	<p>The Clinical items are more structured, the Department items are more flexible</p>
	<p><strong>You can't add pictures but that is coming soon</strong></p>
	<h3>Clinical</h3>
	<p>You can change the item title in the edit screen</p>
	<p>Fill in all of the boxes and click either the Cancel or Save buttons</p>
	<p>Each box can hold as much text as you wish. It will not allow you to put newline/breaks in.</p>
	<p>If you want a list/ newline type &ltbr&gt to add a break</p>
	<br>
	<h3>Department</h3>
	<p>This page can be made up of as many sections as you wish</p>
	<p>The page will only show the boxes that you fill</p>
	<p>The Heading and Subheading are simply bigger text</p>
	<p>Info1 and Info2 are information boxes for text. </p>
	<p>At the end of each section an horizontal line will automatically be added as a divider</p>
	<p>If you want more information, simply add more sections</p>
	<p>Click Cancel or Save to finish</p>
	<p><strong>Coming Soon -Bold and Underline options</strong></p>
</div>