<!-- homeClin.html -->

<h2>File: clinical.json</h2>
<h4> Load external data from URL</h4>
<form name="loadForm">
    <div class='form-group row'>
        <div class="col-xs-1">
            http://www.
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="root of address of external data" ng-model="address" lowercased>
        </div>
        <div class="col-xs-1">/</div>


        <div class="col-xs-2">
            <input type="text" class="form-control"ng-model="specialty" lowercased>
        </div>
        <div class="col-xs-2">
            /docs/clinical.json
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12" button-row>
            <a class="btn btn-primary btn-lg">
                <span id="loadingButton" ng-click="loadData()"> Load data from URL</span></a>
        </div>
    </div>
</form>
<div class="container">
    <h4>Or select file from your directory for upload</h4>
    <input type="file" on-read-file="showContent($fileContent)">
    <div>{{success}}</div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">

        <ul class="list-group">
            <li class="list-group-item text-center" ng-repeat="item in format.clinical track by $index">

                <button class="btn btn-s pull-left" ng-click="moveUp($index)"><span class=" glyphicon glyphicon-arrow-up  "> </span></button>
                {{item.title}}
                <button class="btn btn-s btn-separation-left pull-right" ng-click="moveDown($index)"> <span class="glyphicon glyphicon-arrow-down "></span></button>

                <button type="button" class="btn btn-danger btn-s pull-right btn-separation-left" ng-click="remove($index)"><span class="glyphicon glyphicon-trash"> </span></button>
                <a ui-sref="app.editClin({id:$index})" class="btn btn-primary btn-s pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
            </li>
        </ul>
    </div>
</div>
<form name="titleForm">
    <div class='form-group'>
        New Item title
        <input type="text" class='form-control' placeholder='Title for new clinical item' ng-model='newItem'>
    </div>
</form>
<div class="row">
    <div class="col-xs-12" button-row>
        <a class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus" ng-click="addNew()"> Add new item</span></a>
    </div>
</div>

<form name="titleForm">
    <div class='form-group'>
        New Image item
        <input type="text" class='form-control' placeholder='Title for new image item' ng-model='newImageItem'>
    </div>
</form>
<div class="row">
    <div class="col-xs-12" button-row>
        <a class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus" ng-click="addNewImage()"> Add new IMAGES</span></a>
    </div>
</div>


<div>
    <br>
    <a class='btn btn-warning large' ng-click="download()">Create download link</a>
</div>
<div id="target"></div>
<div>
    <pre>  {{json | prettyJSON }}</pre>
</div>
