	<!-- new.html -->
<!-- <div class='row'>
	<a ui-sref ="app.home">Go back</a>
</div> -->
<!-- <div>
Number
	{{info1}}
</div> -->
<form name = 'newitemTitle'>
<div id = 'newTitle' class = 'form-group'>
Title:{{copy.title}}
<input type = 'text' class = 'form-control' placeholder = "new title" ng-model = "copy.title">
</div>
</form>
<div class ='row'>
	<div class ='col-xs-12 bg-highlight' >

		<form name = "itemForm">
			<div id="test" class ='form-group'  ng-repeat="item in copy.data track by $index">
				<div ng-hide= "isAnImage" ng-repeat="(key,value) in item track by $index">
					<div >{{key| uppercase}}
						<input type="text" class ="form-control" id="{{key}}" placeholder="{{value}}" ng-model="item[key]">
					</div>
					<!-- <hr ng-show="key=='item'"> -->
				</div>
				<div ng-show= "isAnImage" >
					<div >
						<div ng-if= "item.src" ng-repeat = "object in item.src track by $index">
							<div>SRC{{$index +1}}
								<input type="text" class ="form-control" ng-model="copy.data[1].src[$index]">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- need to hide all of this and implement a list of image titles for the array if there is an image flag.. needs implementing-->
			<div ng-hide = "isAnImage" class='form-group'>
				<button type = 'button' class ='btn btn-info btn-lg btn-block' ng-click='addSection()'>
					<span class ='glyphicon glyphicon-plus'></span>
					Add Section
				</button>
			</div>
			<div ng-show = "isAnImage" class='form-group'>
				<button type = 'button' class ='btn btn-info btn-lg btn-block' ng-click='addImageSection()'>
					<span class ='glyphicon glyphicon-plus'></span>
					Add New Image
				</button>
			</div>
			<div class='form-group'>
				<button type = 'button' class ='btn btn-success btn-lg btn-block' ng-click='save()'>
					<span class ='glyphicon glyphicon-ok'></span>
					Save
				</button>
			</div>
			<div class='form-group'>
				<button type = 'button' class ='btn btn-danger btn-lg btn-block' ng-click='cancel()'>
					<span class ='glyphicon glyphicon-remove'></span>
					Cancel
				</button>
			</div>
		</form>
	</div>
</div>
